@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
    --font-sora: "Sora", sans-serif; 
    --font-open-sans: "Open-Sans", sans-serif; 
    --font-nunito: "Nunito", sans-serif; 
    --font-rubik: "Rubik", sans-serif; 
    --font-mulish: "Mulish", sans-serif; 
  }

@theme {
    --breakpoint-3xs: 25rem;
    --breakpoint-2xs: 27.5rem;
    --breakpoint-xs: 30rem;
    --breakpoint-semilg: 61.875rem;
    --breakpoint-3xl: 112rem;
    --breakpoint-4xl: 126rem;
    --breakpoint-5xl: 140rem;
}

html,
body {
    @apply bg-[#e6edfa4d] text-[#1E1B4B] select-none font-sora overflow-x-hidden;

    .svg-background {
        @apply bg-[url('/assets/background_peach_waves.svg')] bg-no-repeat bg-center bg-cover;
    }

    .basic-box {
        @apply bg-white shadow-md rounded-md border border-gray-200;
    }

    .basic-button {
        @apply bg-white shadow-md rounded-xl border border-gray-200 hover:opacity-60 active:opacity-40
    }

    /* Swiper button hover effect, only used regular css due to the transition */
    .swiper-pagination-bullet {
        width: 0.75rem; /* Tailwind class w-3 */
        height: 0.75rem; /* Tailwind class h-3 */
        background-color: #9ca3af; /* Tailwind class bg-gray-400 */
        border-radius: 9999px; /* Tailwind class rounded-full */
        transition: background-color 0.3s ease; /* Smooth transition for color change */
    }
    
    /* Style for active pagination bullet */
    .swiper-pagination-bullet-active {
        @apply bg-white 
    }

    .swiper-button-next,
    .swiper-button-prev {
        @apply p-3 text-white rounded-full;  /* Default color */
        color: white;  /* Text color */
    }
}

